.details-page {
  margin: 0 auto;
  max-width: 1180px;
  padding: 28px 20px 42px;
  font-family: Arial, Helvetica, sans-serif;
}

.details-page_back {
  background: #111;
  border-radius: 9px;
  color: #fff;
  display: inline-block;
  padding: 10px 14px;
  text-decoration: none;
}

.details-page_back:hover {
  background: #d60000;
}

.details-page_message {
  font-size: 16px;
}

.details-page_error {
  color: #d60000;
  font-size: 16px;
}

.details-card {
  background: white;
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  padding: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.details-card_image {
  max-height: 420px;
  object-fit: contain;
  width: 100%;
  align-items: center;
}

.details-card_title {
  font-size: 42px;
  margin: 0 0 12px;
}

.details-card_description {
  font-size: 16px;
  line-height: 1.4;
  margin: 0 0 14px;
}

.details-card_price {
  color: #1c19d6;
  font-size: 40px;
  font-weight: 700;
}

.details-card_discount {
  background: #d60000;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  padding: 4px 10px;
  margin: 20px 5px;
}

.details-card_list {
  margin: 16px 0 0;
  padding: 0;
}

.details-card_item {
  border-bottom: 1px;
  display: flex;
  font-size: 22px;
  justify-content: space-between;
  padding: 10px 0;
  border: 12px 6px #d60000;
  border-top-color: antiquewhite;
}

.details-card_value {
  text-align: right;
  font-size: 16px;
}

.details-card_label {
  font-size: 16px;
  color: #6e6e6e;
}

.details-card_value_status {
  color: #2bd600;
}


@media (max-width: 900px) {
  .details-card {
    grid-template-columns: 1fr;
  }

  .details-card_title {
    font-size: 36px;
  }

  .details-card_description,
  .details-card_item {
    font-size: 18px;
  }

  .details-card_price {
    font-size: 36px;
  }
}

